* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    /* background-color: rgb(197, 197, 245); */
    padding: 0px;
    margin: 0px;
}
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}
.container {
    max-width: 1300px;
    margin: auto;
}
.header {
    background-color: red;
    background: url('bg-block-blue.jpg');
    padding-top: 40px;
    padding-bottom: 40px;
}
.topbar {
    margin: auto;
}
.icon {
    margin: 10px 0px 10px 10px;
}
.icon img {
    height: 80px;
    border-radius:20px;
}
.hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('floral.png');
}
.hero h2 {
    font-size: 30px;
}
.hero p {
    font-size: 22px;
}
.search-title {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
}
.search-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
    border: 2px solid #eeeeee;
    padding: 10px;
    border-radius: 5px;
}
.search-box input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 20px;
}
.search-box input:focus {
    border: none;
    outline: none;
}
button {
    cursor:pointer;
    background-color: #8873ee;
    border-radius: 3px;
    font-size: 20px;
    border: none;
    color: white;
}
button:hover {
    background-color: #9583ec;
}
.welcome-image {
    text-align: center;
}
.welcome-image img {
    width: 500px;
    border-radius: 300px;
}
/* .about {} */
.feature {
    padding-top: 40px;
    padding-bottom: 40px;
    /* background: url('floral.png'); */
}
.title-floral {
    width: 655px;
    height: 84px;
    background: url('title-floral-bg.png');
    text-align: center;
    margin: auto;
    padding-top: 10px;
    color: blueviolet;
}
/* .title-floral h3 {
} */
.feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}
.feature-list-library {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 90px;
    gap: 10px;
    justify-content: center;
}
.feature-box {
    height: 500px;
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 2px #bdbdbd;
}
.feature-box-platform {
    background: linear-gradient(rgba(199, 194, 225, 0.5), rgba(63, 52, 178, 0.9)), url('platforms.webp');
    background-size: cover;
}
.feature-box-modern-old {
    background: linear-gradient(rgba(199, 194, 225, 0.5), rgba(63, 52, 178, 0.9)), url('moden-old.webp');
    background-size: cover;
}
.feature-box-diversity {
    background: linear-gradient(rgba(199, 194, 225, 0.5), rgba(63, 52, 178, 0.9)), url('diversity.webp');
    background-size: cover;
}
.feature-box-beauty {
    background: linear-gradient(rgba(199, 194, 225, 0.5), rgba(63, 52, 178, 0.9)), url('beauty.webp');
    background-size: cover;
}
.feature-box .section-info {
    width: 100%;
    height: 250px;
    padding: 20px;
    color: white;
    position: absolute;
    bottom: 0;
}
.feature-box-white {
    background-color: white;
    border: 2px solid #b4b2b2;
    height: 340px;
    width: 250px;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.section-info h3 {
    font-size: 25px;
}
.library-info i {
    margin-left: 200px;
    margin-top: 15px;
    color: #a5a5a3;
    font-size: 20px;
}
.library-info i:hover {
    border-radius: 10px;
    background-color: #f2eded;
    width: 25px;
    height: 20px;
}
.library-info img {
    width: 100px;
    padding-top: 10px;
    height: 130px;
}
.library-info h6 {
    justify-content: left;
    text-align: left;
    margin-left: 20px;
    color: #a5a3a3;
    font-size: 12px;
}
.library-info p {
    margin-left: 20px;
    justify-content: left;
    text-align: left;
    color: #333;
    margin-top: -10px;
    margin-right: 10px;
    font-size: 16px;
}
.library-info h5 {
    font-weight: 50;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px; 
    position: absolute; 
    bottom: 0;
}
.library-info h5 i {
    margin-left: 0px;
    font-size: 14px;
}
.library-info a {
    color: #9239d6;
    text-decoration: none;
}
.library-info a:hover {
    color: black;
    text-decoration: none;
}
.blog {
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: url('floral.png'); */
    margin-top: 450px;
    background-color: #e2dfdf8e;
}
.blog-box {
    margin-left: 100px;
}
.blog-box li a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.blog-box li {
    font-size: 20px;
}
.starrr {
    color: #e90bbc;
    font-size: 18px;
}
.blog-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;;
}
.blog-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin-right: 50px;
}
.blog-text {
    background-color: white;
    border: 2px solid #020000f7;
    border-radius: 10px;
    padding: 20px;
}
.star {
    display: flex;
    
}
.star h5 {
    margin-left: -20px;
    background-color: #b867f7;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 20px;
}
.star h6 {
    justify-content: right;
    text-align: right;
    margin-left: 150px;
    font-size: 13px;
}
.star h6 i {
    color: rgb(236, 205, 33);
    font-size: 14px;
}
.time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.time h4 {
}
.time footer {
    margin-top: 20px;
}
.time footer a {
    text-decoration: none;
    color: black;
}
.footer-container {
    /* padding: 20px; */
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    text-align: left;
    /* margin-top: 300px; */
    /* width: 900px; */
    margin: 100px auto;
    /* border-radius: 10px; */
    font-size: 20px;
}
.footer-container .section {
    margin-bottom: 20px;
}
.footer-container .section-apl {
    font-size: 20px;
}
.footer-container .section-apl i {
    margin-top: -10px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 80px -20px 80px;
}
.footer-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-container a {
    color: #333;
    text-decoration: none;
}
.footer-container input[type="email"] {
    padding: 10px;
    margin-top: 10px;
    width: 200px;
}
.footer-container button {
    padding: 10px;
    margin-top: 10px;
}




















.menu-web {
    /* background-color: darkred; */
    /* padding-top: 35px; */
    /* padding-bottom: 10px; */
    /* padding-left: 65%;
    color: aliceblue; */
    margin: 10px 20px 10px auto;
}
.menu-web a {
    color: white;
}
.menu-web a:hover {
    color: rgb(106, 52, 242);
}
.wrap {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 40%;
    height: 4000px;
}
.site-title {
    color: white;
    text-align: center;
    font-size: 30px;
}
.descriptions {
    color: white;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45%;
    margin: auto;
}
/* .note-des img {
    grid-template-columns: 2fr 1fr;
    background-color: blue;
} */
.note-des {
    /* background-color: aqua; */
    /* padding-left: 55%;
    padding-top: 10px; */
    padding: 10px auto 0px auto;
}
.note-des p {
    font-size: 15px;
    /* text-align: justify; */
    text-align: justify;
    /* width: 200px; */
}
.img-des {
    background-color: blueviolet;
    width: 100px;
    /* margin: auto; */
    text-align: center;
    /* position: relative; */
    /* transform: translate(100%); */
    /* padding-left: 20px; */
    /* margin-left:15%; */
    height: 150px;
    /* margin-top: 30px; */
    overflow: hidden;
    margin: 30px auto 0px 100px;
}
.find {
    background-color: white;
    width: 40%;
    height: 40px;
    margin: auto;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
}
.find i {
    font-size: 20px;
    margin-left: 10px;
    color: black;
    padding-top: 10px;
}
.find i:hover {
    color: blueviolet;
}
.fyp {
    background-color: white;
    width: 150px;
    height: 40px;
    margin:  50px auto;
    border-radius: 10px;
    border-color: blueviolet;
    border-style: solid;
}
.fyp p {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    margin: 10px auto;
}
.news-box {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: black;
}
.img-fyp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.news-image {
    height: 350px;
    /* background-color: aquamarine; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 7px 7px #888888;
}
.news-image img{
    width: 100%;
}
.library {
    background-color: white;
    width: 150px;
    height: 40px;
    margin: 450px;
    border-radius: 10px;
    border-color: blueviolet;
    border-style: solid;
    margin: 500px auto;
}
.library p {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    margin: 10px 0 0 0;
}
.library a {
    text-decoration: none;
    color: blueviolet;
}
.library a:hover {
    color: blueviolet;
}
.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    border: 1px black solid;
    gap: 10px;
    text-align: center;
    margin-top: 60px;
}
.book-item {
    border: 1px black solid;
    background-color: wheat;
    border-radius: 5px;
}
.book-item img {
    margin: 10px;
    width: 100px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
}
.book-item .title {
    font-weight: bold;
    width: 180px;
    color: black;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
}
.book-item .author {
    color: #555;
    width: 180px;
    font-size: 13px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.all {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.sidebar {
    width: 150px;
    /* background-color: #f4f4f4; */
    padding: 20px;
    margin-left: 300px;
    /* box-shadow: 2px 0 0 rgba(0,0,0,0.1); */
}
.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 1px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 7px;
    border-radius: 5px;
}
.sidebar ul li a:hover {
    background-color: #ddd;
    margin-right: 45px;
}
.content {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    width: 180px;
    height: 150px;
    bottom: 5px solid black;
}
.content h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.card {
    background-color: #fff;
    padding: 2px;
    margin-bottom: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 280px;
    text-align: center;
    height: 150px;
}
.card h3 {
    font-size: 17px;
    margin-bottom: 10px;
}
.card p {
    font-size: 12px;
    color: #666;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.card .meta {
    font-size: 10px;
}
@media (max-width: 1139px) {
}
@media (max-width: 879px) {
    .note-des {
        padding-left: 45%;
        /* margin-left: 16%; */
    }
}
@media (max-width: 819px) {
    /* .note-des {
        padding-left: 35%;
    } */
    /* .menu-web {
        margin: 10px 20px 10px 150px;
    } */
    .img-fyp {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .f4 {
        display: none;
    }
}
@media (max-width: 609px) {
    /* .note-des {
        padding-left: 15%;
    } */
    /* .menu-web {
        margin: 10px 20px 10px 100px;
    } */
    .img-fyp {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .f4 {
        display: none;
    }
}
@media (max-width: 490px) {
    /* .note-des {
        padding-left: 0%;
    } */
    /* .menu-web {
        margin: 10px 20px 10px auto;
    } */
    .img-fyp {
        grid-template-columns: 1fr 1fr;
    }
    .f4 {
        display: none;
    }
    .f3 {
        display: none;
    }
}
@media (max-width: 328px) {
    /* .note-des {
        padding-left: 0%;
    } */
    .menu-web {
        margin: 10px 15px 10px auto;
    }
    .img-fyp {
        grid-template-columns: 1fr;
    }
    .f4 {
        display: none;
    }
    .f3 {
        display: none;
    }
    .f2 {
        display: none;
    }
}